@font-face {
  font-family: 'Montserrat_bold';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2'), url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto_reg';
  src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto_bold';
  src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'), url('../fonts/RobotoSlab-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat_reg';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 10px;
}
.home {
  background: url(../img/home_background.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 85rem;
  color: #fff;
}
.home-main-header {
  text-align: center;
}
.home-main-header h1 {
  font-family: 'Montserrat_reg', sans-serif;
  font-weight: 900;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.home-main-header h3 {
  font-family: 'Montserrat_reg', sans-serif;
  font-size: 2rem;
  margin-bottom: 5.5rem;
}
.home-menu {
  margin-top: 1.5rem;
  margin-bottom: 26rem;
}
.home-menu-nav {
  padding-top: 3rem;
}
.home-menu-nav li {
  display: inline;
  list-style-type: none;
}
.home-menu-nav li a {
  text-decoration: none;
  font-family: 'Montserrat_reg', sans-serif;
  padding: 1rem;
  font-size: 1.5rem;
  color: #fff;
}
.home-menu-nav li a:hover {
  opacity: 0.9;
}
.home-menu-logo h2 {
  font-family: 'Roboto_bold', sans-serif;
  font-size: 24px;
  line-height: 1.5;
}
.header-btn {
  font-family: 'Montserrat_reg', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  background-color: transparent;
  padding: 1.3rem 3.5rem 1.3rem 3.5rem;
  border: #fff solid 0.2rem;
  outline: none;
}
.header-btn:hover {
  opacity: 0.9;
}
.service-header {
  text-align: center;
}
.service-header h3 {
  font-family: 'Montserrat_reg', sans-serif;
  color: #606060;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.service-header h4 {
  font-family: 'Roboto_reg', sans-serif;
  color: #606060;
  font-size: 1.8rem;
  margin-top: 3rem;
}
.service-blocks {
  text-align: center;
  margin-top: 7rem;
}
.service-blocks h4 {
  text-transform: uppercase;
  font-family: 'Montserrat_reg', sans-serif;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.service-blocks p {
  font-family: 'Roboto_reg', sans-serif;
  margin-bottom: 10rem;
}
