// *{
//  margin: 0;
//  padding: 0;
// }

// Шрифты
@font-face {
    font-family: 'Montserrat_bold';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./fonts/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_reg';
    src: url('./fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('./fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_bold';
    src: url('./fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('./fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_reg';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


.Mon-bold() {
    font-family: 'Montserrat_bold', sans-serif;
}
.Mon-reg() {
    font-family: 'Montserrat_reg', sans-serif;
}
.Rob-reg() {
    font-family: 'Roboto_reg', sans-serif;
}
.Rob-bold() {
    font-family: 'Roboto_bold', sans-serif;
}







 body {
     p {
        .Rob-reg();
     }
     li {
        list-style-type: none;
     }
    a, h4, button {
        .Rob-reg();
        color: rgba(0, 0, 0, 0.5);
        text-decoration: none;
        border: none;
        background: transparent;
        }
    button {
        font-size: 17px;
    }
    a:hover {
        color: rgba(0, 0, 0, 0.5);
        opacity: 0.7;
        text-decoration: none;
    }
    a:focus {
        color: rgba(0, 0, 0, 0.5);
        
    }
    // background: url(img/fon.png);
    // height: 100%;
 }
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    // border: 2px solid red;
    border-bottom: 0.5px solid #c8c8c8;
    .logo  {
        // border: 2px solid green;
        h1 {
            .Rob-reg();
            font-size: 20px;
        }
        img {width: 70px;
            height: 70px;}
    }
}



.menu {
    .Rob-reg();
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    // border: 2px solid green;
    padding-top: 30px;
    padding-bottom: 5px;
    a {
        margin: 5px;
    }
}
// HOME
.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // border-bottom: 0.5px solid #c8c8c8;
}

.slider {
    width: 800px;
    margin: 10px auto;
    // padding: 10px 50px 720px 50px;
    // border: 1px solid #c8c8c8;
    // max-width: 120vh;
    // max-height: 70vh;
        img {
            width: 800px;
            display: none;
        }
        img:first-child {
            display: block;
        }   
}




// GALLERY

.checkbox {
    display: none;
}

.gallery-nav {
    .Rob-reg();
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    width: 200px;
    min-width: 100px;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 0;
    right: -200px;
    padding: 15px 20px;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
    background: rgba(255, 255, 255, 0.87);
    z-index: 10;
    .title {
        margin-top: 80px;
        li {
            margin-top: 30px;
        }
        img {
            width: 100px;
        }
    }
}


/**
 * Кнопка переключения панели

 */

 .nav-toggle {
    position: absolute;
    right: 210px;
    top: 4em;
    padding: 0.5em;
    background: inherit;
    color: #dadada;
    cursor: pointer;
    z-index: 15;
}

.nav-toggle:after {
    content: '\2630';
    text-decoration: none;
    color: #000;
}


[id='nav-toggle']:checked ~ .gallery-nav > .nav-toggle {
    left: auto;
    right: 10px;
    top: 4em;
}



[id='nav-toggle']:checked ~ .gallery-nav {
    right: 0;
    box-shadow:-4px 0px 20px 0px rgba(0,0,0, 0.2);
}

[id='nav-toggle']:checked ~ .gallery-nav > .nav-toggle:after {
    content: '\2715';
}




// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.digital, .film {
    display: flex;
    justify-content: center;
}
.film {
    display: none;
}
.gallery {
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    // border: 2px solid green;
    margin: 20px;
    // max-width: 1600px; 
    img {
        // width: 100%;
        max-width: 250px;
        margin-top: 1px;
        margin-left: 1px;
    }
    img:hover {
        opacity: 0.9;
    }
    a {
        text-align: center;
    }   
} 


.footer {
    border-top: 0.5px solid #c8c8c8;
    // height: 100%;
    min-height: 20px;
    max-height: 30px;
    
}

.contatcs {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    &-content {
        position: fixed;
    left: 50%;
    top: 10%;
    background-color: #fff;
    transform: translateX(-50%);
    padding: 40px 60px;
    }
    &-close {
        position: absolute;
        top: -10px;
        right: -20px;
        width: 20px;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 30px;
        color: #fff;
    }
    &-content {
        text-align: center;
    }
    &-header {
        .Rob-reg();
    }
}

.form {
    text-align: center;
    input {
        width: 50%;
        height: 30px;
    }
    .text {
        height: 80px;
    }
    .main-form-btn {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .gallery {
        img {
            // width: 300px;
            max-width: 350px;
            margin-top: 3px;
        }
    }
}

@media screen and (max-width: 432px) {
    .nav-toggle {
        top: 8em;
    }
    [id='nav-toggle']:checked ~ .gallery-nav > .nav-toggle {
        left: auto;
        right: 10px;
        top: 8em;
    }
}
@media screen and (max-width: 310px) {
    .nav-toggle {
        top: 10em;
    }
    [id='nav-toggle']:checked ~ .gallery-nav > .nav-toggle {
        left: auto;
        right: 10em;
        top: 10em;
    }
}