// Шрифты
@font-face {
    font-family: 'Montserrat_bold';
    src: url('./fonts/Montserrat-Bold.woff2') format('woff2'),
        url('./fonts/Montserrat-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_reg';
    src: url('./fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('./fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto_bold';
    src: url('./fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('./fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_reg';
    src: url('./fonts/Montserrat-Regular.woff2') format('woff2'),
        url('./fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html {
    font-size: 10px;
}

.Mon-bold() {
    font-family: 'Montserrat_bold', sans-serif;
}
.Mon-reg() {
    font-family: 'Montserrat_reg', sans-serif;
}
.Rob-reg() {
    font-family: 'Roboto_reg', sans-serif;
}
.Rob-bold() {
    font-family: 'Roboto_bold', sans-serif;
}


// section home
.home {
        background: url(./img/home_background.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 85rem;
        color: #fff;
        &-main {
            &-header {
                text-align: center;
                h1 {
                    .Mon-reg();
                    font-weight: 900;
                    font-size: 4.2rem;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                }
                h3 {
                    .Mon-reg();
                    font-size: 2rem;
                    margin-bottom: 5.5rem;
                }
            }
        }
    &-menu {
        margin-top: 1.5rem;
        margin-bottom: 26rem;
        &-nav {
            padding-top: 3rem;
            li {
                display: inline;
                list-style-type: none;
                a {
                    text-decoration: none;
                    .Mon-reg();
                    padding: 1rem;
                    font-size: 1.5rem;
                    color: #fff;
                }
                a:hover {
                    opacity: 0.9;
                }
            }
        }
        &-logo {
            h2 {
                .Rob-bold();
                font-size: 24px;
                line-height: 1.5;
            }
        }
    }
}
.header-btn{
    .Mon-reg();
    text-transform: uppercase;
    font-weight: 800;
    background-color: transparent;
    padding: 1.3rem 3.5rem 1.3rem 3.5rem;
    border: #fff solid 0.2rem;
    outline: none;

}
.header-btn:hover {
    opacity: 0.9;
}


// Секция Сервис

.service-header {
    text-align: center;
    h3 {
        .Mon-reg();
        color: #606060;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 800;
        font-size: 2rem;
        margin-top: 10rem;
        margin-bottom: 3rem;
    }
    h4 {
        .Rob-reg();
        color: #606060;
        font-size: 1.8rem;
        margin-top: 3rem;
    }
}
.service-blocks {
    text-align: center;
    margin-top: 7rem;
    h4 {
        text-transform: uppercase;
        .Mon-reg();
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    p {
        .Rob-reg();
        margin-bottom: 10rem;
    }
    }
